Package: drauger-plymouth-theme
Version: 0.0.4
Maintainer: Thomas Castleman <contact@draugeros.ml>
Section: x11
Homepage: https://github.com/Batcastle/drauger-plymouth-theme
Architecture: all
Priority: optional
Depends: plymouth (>=0.9.3-1ubuntu7.18.04.1)
Description: Plymouth theme for Drauger OS
 Simple loading animation for boot up and shut down on Drauger OS